/*
Styles for the tooltip plugin
Author: Ehsan Ghaffar (https://www.EhsanGhaffarii.ir)
*/

.d3-tooltip {
  line-height: 1;
  font-weight: bold;
  padding: 14px;
  background: rgba(28, 28, 28, 0.8);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tooltip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tooltip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tooltip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tooltip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.tooltip_hdr {
  background: #494f5e;
  border-left: 1px solid #494f5e;
  border-right: 1px solid #494f5e;
  border-top: 1px solid #494f5e;
  padding: 6px;
  font-family: "Lato", Verdana, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  overflow: hidden;
  z-index: 100000;
}

.tooltip_bdy {
  background: #494f5e;
  border-left: 1px solid #494f5e;
  border-right: 1px solid #494f5e;
  border-bottom: 1px solid #494f5e;
  padding: 0 6px 6px 6px;
  color: #fff;
  overflow: hidden;
  z-index: 100000;
}

.tooltip_tab {
  background: #494f5e;
  font-family: "Lato", Verdana, Tahoma, sans-serif;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
}

.tooltip_short_hdr {
  visibility: hidden;
  overflow: hidden;
}

.tooltip_short_bdy {
  background: #494f5e;
  border: 1px solid #494f5e;
  padding: 6px;
  font-family: "Lato", Verdana, Tahoma, sans-serif;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
}

.tabchrtbdy {
  /*background: url('/gfx/chart_hover_bg.gif') repeat-x;*/
  background: #494f5e;
  border: 1px solid #494f5e;
  font-family: "Lato", Verdana, Tahoma, sans-serif;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
}

.tabchrtbdy img {
  display: block;
}

.tabchrtbdy-ta {
  /*background: url('/gfx/chart_hover_bg_ta.gif') repeat-x;*/
  background: #494f5e;
  border: 1px solid #494f5e;
  font-family: "Lato", Verdana, Tahoma, sans-serif;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
}

.hoverchart {
  position: relative;
  background: #fff;
  border: 1px solid #000000;
  font-family: Arial, Verdana, Tahoma;
  font-size: 11px;
  color: #000000;
  overflow: hidden;
  line-height: 13px;
}
.hoverchart:before {
  content: "Loading Chart…";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #494f5e;
  opacity: 0;
  font-size: 12px;
  font-weight: bold;
  pointer-events: none;
  animation: opacity 0s linear 250ms forwards;
}

.hoverchart img {
  position: relative;
  display: block;
}

.hoverchart div {
  background: url("/gfx/chart_hover_bg2.gif") 0px -180px repeat-x;
  padding: 5px;
}

.hoverchart b {
  display: block;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
